
$link: #0066CC;
$stroke: #F5F5F7;
$inputBorder: #e1e1e1;
$red: #DC3545;
$black: #000;
$text: #333333;
$textD: #1D1D1F;
$white: #fff;
$darkBg: #58585D;
$bg: #f5f5f5;
$gray: #E1E1E1;
$darkGray: #BABAC2;

$desctopFH: 1600px;
$desktopB: 1440px;
$desktop: 1240px;
$tablet: 1023px;
$tabletS: 991px;
$phone: 767px;
$afterPhoneS: 575px;
$phoneS: 374px;